<!DOCTYPE html>
  <nav class="navbar navbar-expand-sm navbar-light bg-light">
    <img src="assets/img/logo.png" class="top-logo-size">
    <span class="navbar-brand">Baby on Board</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>


<!-- MOVIMENTOS PARA SELECIONAR -->
  <div class="bd-example">
    <div class="row">
      <div class="col-md-4 card-padding" *ngIf="this.move == Move.none" (ngSubmit)="this.onSubmitFrontMove()" (click)="this.onSubmitFrontMove()">
        <div class="card card-color rounded button-like" >
          <div class="card-icon">
              <img  src="assets/img/icone_moving_crib.png" class="icon_size">
          </div>
          <img class="card-img mx-auto d-block crib-size" src="assets/img/icone_moving_crib_X.png">
        </div>
      </div>

      <div class="col-md-4 card-padding" *ngIf="this.move == Move.none" (ngSubmit)="this.onSubmitSideMove()" (click)="this.onSubmitSideMove()">
        <div class="card card-color rounded button-like" >
          <div class="card-icon">
            <img  src="assets/img/icone_moving_crib.png" class="icon_size">
          </div>
          <img class="card-img mx-auto d-block crib-size" src="assets/img/icone_moving_crib_Z.png">
        </div>
      </div>

      <div class="col-md-4 card-padding" *ngIf="this.move == Move.none" (ngSubmit)="this.onSubmitVibrate()" (click)="this.onSubmitVibrate()">
        <div class="card card-color rounded button-like" >
          <div class="card-icon">
            <img  src="assets/img/icone_moving_crib.png" class="icon_size" >
          </div>
          <img class="card-img mx-auto d-block crib-size" src="assets/img/icone_moving_crib_vibrate.png">
        </div>
      </div>

<!-- MOVIMENTOS QUANDO SELECIONADO -->

<!----------------------->

      <div class="col-md-4 card-padding" *ngIf="this.move == Move.front_move">
        <div class="card card-color rounded button-like-fixed" >
          <div class="card-icon">
            <img  src="assets/img/icone_moving_crib.png" class="icon_size"  >
          </div>
          <img class="card-img mx-auto d-block crib-size" src="assets/img/icone_moving_crib_X.png">
        </div>
      </div>

      <div class="col-md-4 card-padding" *ngIf="this.move != Move.front_move && this.move != Move.none">
        <div class="card card-color rounded" >
          <div class="card-icon">
            <img  src="assets/img/icone_moving_crib.png" class="icon_size"  >
          </div>
          <img class="card-img mx-auto d-block crib-size" src="assets/img/icone_moving_crib_X.png">
        </div>
      </div>
<!----------------------->

      <div class="col-md-4 card-padding" *ngIf="this.move == Move.side_move">
        <div class="card card-color rounded button-like-fixed" >
          <div class="card-icon">
              <img  src="assets/img/icone_moving_crib.png" class="icon_size"  >
          </div>
          <img class="card-img mx-auto d-block crib-size" src="assets/img/icone_moving_crib_Z.png">
        </div>
      </div>

      <div class="col-md-4 card-padding" *ngIf="this.move != Move.side_move && this.move != Move.none">
        <div class="card card-color rounded " >
          <div class="card-icon">
              <img  src="assets/img/icone_moving_crib.png" class="icon_size"  >
          </div>
          <img class="card-img mx-auto d-block crib-size" src="assets/img/icone_moving_crib_Z.png">
        </div>
      </div>

<!----------------------->
    <div class="col-md-4 card-padding" *ngIf="this.move == Move.vibrate">
      <div class="card card-color rounded button-like-fixed" >
        <div class="card-icon">
            <img  src="assets/img/icone_moving_crib.png" class="icon_size" >
        </div>
        <img class="card-img mx-auto d-block crib-size" src="assets/img/icone_moving_crib_vibrate.png">
      </div>
    </div>

    <div class="col-md-4 card-padding" *ngIf="this.move != Move.vibrate && this.move != Move.none">
      <div class="card card-color rounded " >
        <div class="card-icon">
            <img  src="assets/img/icone_moving_crib.png" class="icon_size" >
        </div>
        <img class="card-img mx-auto d-block crib-size" src="assets/img/icone_moving_crib_vibrate.png">
      </div>
    </div>

    </div>
  </div>


  <!--img src="assets/img/logo.png" class="fixo-baixo"-->
